<a href="https://colab.research.google.com/github/mithlohar144/Air_Quality_Prediction_System/blob/main/db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#UPDATING RECORD : Updating a Record - Example
import sqlite3
MySchool=sqlite3.connect('infosys_project.db')
#take input of the name
nm=input("enter name: ")   # displays a record connected to a name that will be input by a user.
#create a string of select query to fetch the record
sql="SELECT * from members WHERE name='"+nm+"';"
#executing query
curschool=MySchool.cursor()
curschool.execute(sql)
record=curschool.fetchone()
print (record)

#another input is accepted from the user as a replacement value for marks field. It is used to update the
    #corresponding record in the student table.
#Then run & marks gets updated.
m=float(input("enter new marks: "))
sql="UPDATE student2 SET marks='"+str(m)+"' WHERE name='"+nm+"';"
try:
    curschool.execute(sql)
    MySchool.commit()
    print ("record updated successfully")
except:
    print ("error in update operation")
    MySchool.rollback()

enter name: dhnoi

OperationalError: no such table: members

1.fetchone() - This method fetches the next available record from the result set.
It is a tuple consisting of values of each column of the fetched record. The Following code snippet retrieves
and prints one record at a time till the result set is exhausted. '''

In [ ]:

import sqlite3
MySchool=sqlite3.connect('infosys_project.db')
sql="SELECT * from student1;"
curschool=MySchool.cursor()
curschool.execute(sql)
while True:
    record=curschool.fetchone()
    if record==None:
        break
    print (record)
''' #2. fetchall() -  This method fetches all the remaining records in the form of a list of tuples.
Each tuple corresponds to one record and contains values of each column in the table. The following code snippet
fetches all records and prints them one at a time by using the 'for' statement.  '''
print('===============')
import sqlite3
MySchool=sqlite3.connect('infosys_project.db')
sql="SELECT * from student1;"
curschool=MySchool.cursor()
curschool.execute(sql)
result=curschool.fetchall()
for record in result:
    print (record)

OperationalError: no such table: student1

Deleting a Record

In [ ]:
#Deleting a Record

import sqlite3

MySchool=sqlite3.connect('anand.db')

#accepting a name and retrieving the corresponding record

nm=input("enter name: ")

sql="SELECT * from student2 WHERE name='"+nm+"';"

curschool=MySchool.cursor()

curschool.execute(sql)

record=curschool.fetchone()

print (record)

#deleting the retrieved record

res=input("do you want to delete this record?(Y/N): ")

sql="DELETE FROM student2 WHERE name='"+nm+"';"

if res=='Y':

    try:

        curschool.execute(sql)

        MySchool.commit()

        print ("record deleted successfully")

    except:

        print ("error in update operation")

        MySchool.rollback()

MySchool.close()

#you can verify in sqlite studio if record is deleted by refreshing

In [ ]:
import sqlite3
connection = sqlite3.connect("SQLite Test.db")

cursor = connection.execute("select *from dataset_1")
for row in cursor:
    print(row)

OperationalError: no such table: dataset_1

In [ ]:
#1.Simple linear plot
import matplotlib
# Use the 'Agg' backend which does not require a graphical interface
matplotlib.use('Agg')
import matplotlib.pyplot as plt    #from matplotlib import pyplot as plt
plt.plot(range(10))   #matplotlib.pyplot.plot
#[<matplotlib.lines.Line2D object at 0x0000012F96C69A00>]
# You can save the plot to a file instead of showing it
# plt.savefig('simple_plot.png')
# If you want to display plots in Colab, you can use the default backend or specifically set it to 'inline'
# matplotlib.use('inline')
# plt.show()

In [ ]:
#1.Simple linear plot
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt    #from matplotlib import pyplot as plt
plt.plot(range(10))
%matplotlib inline  #matplotlib.pyplot.plot
#[<matplotlib.lines.Line2D object at 0x0000012F96C69A00>]
plt.show()

ImportError: Cannot load backend 'TkAgg' which requires the 'tk' interactive framework, as 'headless' is currently running

In [ ]:
import matplotlib.pyplot as plt
x =[1,2,3,4]
y =[1,4,2,3]
plt.plot(x,y)
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.title('My Plot')
plt.show()

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
df['w'].hist()
plt.show()

NameError: name 'df' is not defined

In [ ]:
import matplotlib.pyplot as plt


x = ['Apples', 'Banana', 'Oranges']
y= [15,20,25]
plt.pie(y, labels=x)
plt.title('simple pie cart')
plt.show()